* {
    box-sizing: border-box;
    
  }

.tabs{
    display: grid;
}
[role="tablist"]{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
 grid-gap: 10px;
 
}

[role="tabpanel"]{
    background: black;
    padding: 2rem;
    color: aliceblue;
    
}

button{
    background:#FFF3E2;
    border: 0;
    color: black;
    border-radius: 5px, 5px, 0,0;
    --bs-color:  #FFF3E2;
    box-shadow: inset 0 -2px 5px var(--bs-color);
    cursor: pointer;
}
button[aria-selected="true"]{
    background-color:#ED2B2A;
    box-shadow: none;
    color: #FFF3E2;
    

}
button.focus{
    outline: 0;
    --bs-color: #FFF3E2;
}
button[area-selected="true"]:focus{

}
.info {
    display: inline-block; 
    width: 40rem; 
    text-align: right; 
    margin-right: 10px; 
    font-family: 'Noto Serif', serif;
}
 
  .profileimg{
    height:300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid red;
    
  } 
  h2{
    font-family: 'Alkatra', cursive;
  }
  .profilepic{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .main-name{
    height: 3rem;
    font-family: 'Alkatra', cursive;
    font-size: 1.5rem;
  }

  @media only screen and (max-width:844px) {
    [role="tabpanel"] {
    background:black;
   }
   [role="tablist"]{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
    
   }

.info {
    display: inline-block; 
    width: 9rem; 
    text-align: right; 
    margin:auto;
    font-family;Noto Serif', serif;
}
  .profileimg{
    height:150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid red;
    
  } 
  h2{
    font-family: 'Alkatra', cursive;
    font-size: 0.8rem;
  }
  .profilepic{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .main-name{
    height: 2rem;
    font-family: 'Alkatra', cursive;
    font-size: 1rem;
  }
  * {
    box-sizing: border-box;
   
  } 